<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body >
    <div class="top-nav">
        <div class="top-nav-col1">
            <p>Phone no: 
                <a href="">+00 1234 567</a> 
                or email us: 
                <a href="">emailsample@email.com</a></p>
        </div>
        <div class="top-nav-col2">
            <a href="">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="">
                <i class="bi bi-dribbble"></i>
            </a>
        </div>
    </div>
    <div class="second-nav">
        <div class="second-nav-logo" >
            <a href="">
                <p>Vacation<span>Rental</span></p>
            </a>
            
        </div>
        <div class="second-nav-list">
            <ul class="active">
                <li class="dropdown"><i class="bi bi-person-circle"></i>
                    <a href="#" class="dropdown-toggle">Menu</a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">SignUp</a></li><hr>
                        <li><a href="/login">Logout</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/apartment_rooms">Apartment Room</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="second-nav-menu">
            <i class="bi bi-list"></i>
            <span>MENU</span>
        </div>
    </div>
    <div class="about_img">
        <div class="image_about">
            <h1>About Us</h1>
            <a href="/"><button>HOME</button> </a><span>About Us</span>
        </div>
    </div>
    <div class="details">
        <div class="details-box">
            <div class="details-box-image">
                <img src="../static/image/map.jfif" alt="" height="200px">
            </div>
            <div class="details-box-content">
                <h3>Map Direction</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                <a href="/about"><button class="header-btn1 ">Read More</button></a>
            </div>
        </div>
        <div class="details-box">
            <div class="details-box-image">
                <img src="../static/image/room.jfif" alt="" height="200px">
            </div>
            <div class="details-box-content">
                <h3>rooms</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                <a href="/apartment_rooms">
                    <button class="header-btn1">Read More</button>
                </a>
            </div>
        </div>
        <div class="details-box">
            <div class="details-box-image">
                <img src="../static/image/family.jfif" alt="" height="200px"
                >
            </div>
            <div class="details-box-content">
                <h3>Family</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                <a href="/about"><button class="header-btn1">Read More</button></a>
            </div>
        </div>
    </div>
    <div class="rooms">
        <div class="rooms-heading"><p>Apartment Rooms</p></div>
        <div class="rooms-grid">
            <div class="rooms-grid-item">
                <div class="rooms-grid-item-image">
                    <img src="../static/image/room-1.jpg" alt="">
                </div>
                <div class="rooms-grid-item-content">
                    <div class="grid-item-content-icons">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="room-name">
                        <h2>Suite Room</h2>
                    </div>
                    <div class="room-list">
                        <ul>
                            <li>
                            <p>   <span>Max:</span> 3 Persons</p>
                            </li>
                            <li>
                                <p> <span>Size:</span> 45 m2</p>
                            </li>
                            <li>
                                <p> <span>View:</span> Sea-view</p>
                            </li>
                            <li>
                                <p>  <span>Bed:</span> 1</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button class="room-btn">View Room Details</button>
                    </div>
                    
                </div>
            </div>
            <div class="rooms-grid-item">
                <div class="rooms-grid-item-image">
                    <img src="../static/image/room-2.jpg" alt="">
                </div>
                <div class="rooms-grid-item-content">
                    <div class="grid-item-content-icons">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="room-name">
                        <h2>Suite Room</h2>
                    </div>
                    <div class="room-list">
                        <ul>
                            <li>
                            <p>   <span>Max:</span> 3 Persons</p>
                            </li>
                            <li>
                                <p> <span>Size:</span> 45 m2</p>
                            </li>
                            <li>
                                <p> <span>View:</span> Sea-view</p>
                            </li>
                            <li>
                                <p>  <span>Bed:</span> 1</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button class="room-btn">View Room Details</button>
                    </div>
                    
                </div>
            </div>
            <div class="rooms-grid-item">
                <div class="rooms-grid-item-content">
                    <div class="grid-item-content-icons">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="room-name">
                        <h2>Suite Room</h2>
                    </div>
                    <div class="room-list">
                        <ul>
                            <li>
                            <p>   <span>Max:</span> 3 Persons</p>
                            </li>
                            <li>
                                <p> <span>Size:</span> 45 m2</p>
                            </li>
                            <li>
                                <p> <span>View:</span> Sea-view</p>
                            </li>
                            <li>
                                <p>  <span>Bed:</span> 1</p>
                            </li>
                        </ul>
                    </div>
                    <div >
                        <button class="room-btn">View Room Details</button>
                    </div>
                    
                </div>
                <div class="rooms-grid-item-image">
                    <img src="../static/image/room-3.jpg" alt="">
                </div>
                
            </div>
            <div class="rooms-grid-item">
                <div class="rooms-grid-item-content">
                    <div class="grid-item-content-icons">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="room-name">
                        <h2>Suite Room</h2>
                    </div>
                    <div class="room-list">
                        <ul>
                            <li>
                            <p>   <span>Max:</span> 3 Persons</p>
                            </li>
                            <li>
                                <p> <span>Size:</span> 45 m2</p>
                            </li>
                            <li>
                                <p> <span>View:</span> Sea-view</p>
                            </li>
                            <li>
                                <p>  <span>Bed:</span> 1</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button class="room-btn">View Room Details</button>
                    </div>
                    
                </div>
                <div class="rooms-grid-item-image">
                    <img src="../static/image/room-4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="feedback">
        <div class="feedback-heading">
            <h2>Happy Clients & Feedbacks</h2>
        </div>
        <div class="feedback-content">
            <div class="feedback-content-item">
                <div class="fb-item-image">
                    <img src="../static/image/person_1.jpg" alt="">
                </div>
                <div class="fb-item-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perferendis aliquam dolore, </p> <br>
                    <p >JOE</p> <br>
                    <p>Treveller</p>
                </div>
            </div>
            <div class="feedback-content-item">
                <div class="fb-item-image">
                    <img src="../static/image/person_2.jpg" alt="" >
                </div>
                <div class="fb-item-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perferendis aliquam dolore, </p> <br>
                    <p>HERRY</p> <br>
                    <p>Businessman</p>
                </div>
            </div>
            <div class="feedback-content-item">
                <div class="fb-item-image">
                    <img src="../static/image/person_3.jpg" alt="">
                </div>
                <div class="fb-item-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perferendis aliquam dolore, </p> <br>
                    <p>MARK</p> <br>
                    <p>Businessman</p>
                </div>
            </div>
        </div>
    </div>
    <div class="we-offer">
        <div class="family-image">
            <img src="../static/image/bg_1.jpg" alt="">
            <p ><h2>The most recommended vacation rental</h2></p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
        </div>
        
        <div class="services">
            <div class="services-offer">
                <h3>What we offer</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
            <div class="all-services">
            <div class="services-detail">
            <div class="offerd-services">
                <div class="icon">
                <i class="bi bi-cup-hot-fill"></i>
            </div>
                    <div class="about">
                        <p> <b>Tea Coffee</b></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                    </div>
            </div>
            <div class="offerd-services" style="color: #f3f4f7;">
                <div class="icon" style="background-color: #f3f4f7;">
                    <i class="bi bi-basket-fill"></i>
            </div>
                    <div class="about">
                        <p> <b></b></p>
                        <p></p>
                    </div>
            </div>
            <div class="offerd-services" >
                <div class="icon">
                    <i class="bi bi-router-fill"></i>
            </div>
                    <div class="about">
                        <p> <b>WiFi</b></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                    </div>
                </div>
                <div class="offerd-services" style="color: #f3f4f7;">
                    <div class="icon" style="background-color: #f3f4f7;">
                        <i  class="bi bi-bag-dash"></i>
                </div>
                        <div class="about">
                            <p> <b></b></p>
                            <p></p>
                        </div>
        </div>
        <div class="services-detail2">
            <div class="offerd-services2">
                <div class="icon2">
                    <i class="bi bi-droplet-fill"></i>
            </div>
                    <div class="about">
                        <p> <b>Hot Shower</b></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                    </div>
        </div>
        <div class="offerd-services2" style="padding-left: 120px;">
            <div class="icon2">
                <i class="bi bi-bag-dash"></i>
        </div>
                <div class="about">
                    <p> <b>Iron</b></p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                </div>
        </div>
                <div class="offerd-services2">
                    <div class="icon2">
                        <i class="bi bi-fan"></i>
                </div>
                        <div class="about">
                            <p> <b>Air conditioner</b></p>
                            <p>A small river named Duden flows by their place and supplies it with the necessary</p>
                        </div>
    </div>
    <div class="offerd-services2" style="padding-left: 120px;">
        <div class="icon2" >
            <i class="bi bi-egg-fried"></i>
    </div>
            <div class="about">
                <p> <b>Kitchen</b></p>
                <p>A small river named Duden flows by their place and supplies it with the necessary</p>
            </div>
        </div>
    </div>
            </div>
            </div>
            </div>
        </div>
        
    <div class="last">
        <div class="vactionalrental">
            <h3>Vactional Rental</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <button><b>Read more ></b></button>
        </div>
        <div class="services-last">
            <h3>Services</h3>
            <ul>
                <a href=""><li>Map Direction</li></a><br>
                <a href=""><li>Accomodation Services</li></a><br>
                <a href=""><li>Great Experience</li></a><br>
                <a href=""><li>Perfect central location</li></a><br>
            </ul>
            </div>
            <div class="tag-cloud">
                <h3>Tag Cloud</h3>
                <a href=""><button>APARTMENT</button></a>
                <a href=""><button>HOME</button></a>
                <a href=""><button>Vactional</button></a>
                <a href=""><button>RENTAL</button></a>
                <a href=""><button>HOUSE</button></a>
                <a href=""><button>PLACE</button></a>
                <a href=""><button>RENT</button></a>
                <a href=""><button>DRINKS</button></a>
            </div>
            <div class="subscribe">
                <h3>Subscribe</h3>
                
                <input type="text" placeholder="enter your email"><span><button><i class="bi bi-telegram"></i></button></span>
                <div class="follow-us">
                    <h3>Folow us</h3>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
    </div>
</body>
</html>