<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Rental</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="top-nav">
        <div class="top-nav-col1">
            <p>Phone no: 
                <a href="">+00 1234 567</a> 
                or email us: 
                <a href="">emailsample@email.com</a></p>
        </div>
        <div class="top-nav-col2">
            <a href="">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="">
                <i class="bi bi-dribbble"></i>
            </a>
        </div>
    </div>
    <div class="second-nav">
        <div class="second-nav-logo" >
            <a href="">
                <p>Vacation<span>Rental</span></p>
            </a>
            
        </div>
        <div class="second-nav-list">
            <ul class="active">
                <li class="dropdown"><i class="bi bi-person-circle"></i>
                    <a href="#" class="dropdown-toggle">Menu</a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">SignUp</a></li><hr>
                        <li><a href="/login">Logout</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/apartment_rooms">Apartment Room</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="second-nav-menu">
            <i class="bi bi-list"></i>
            <span>MENU</span>
        </div>
    </div>
    <div class="about_img">
        <div class="image_about">
            <h1>Blog</h1>
            <a href="/"><button>HOME</button> </a><span>Blog</span>
        </div>
    </div>
    <div class="news-blog">
        <div class="news-text">
            <h3><b>Latest news from our blog</b></h3>
            <p>News & Blog</p>
        </div>
        <div class="news-container">
            <div class="news-item1">
            <div class="news1">
                <div class="new1-img">
            <img src="../static/image/news1.jpg" alt="">
            <div class="news1-text">
                <a href=""><b>Work Hard, Party Hard in a Luxury Chalet in the Alps</b>
                <p>january 31 2024</p></a>
                <h5>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</h5>
            </div>
        </div>
        </div>
            </div>
        <div class="news-item1">
            <div class="news1">
                <div class="new1-img">
            <img src="../static/image/news2.jpg" alt="">
            <div class="news1-text">
                <a href=""><b>Work Hard, Party Hard in a Luxury Chalet in the Alps</b>
                <p>january 31 2024</p></a>
                <h5>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</h5>
            </div>
        </div>
        </div>
        </div>
        <div class="news-item1">
            <div class="news1">
                <div class="new1-img">
            <img src="../static/image/news3.jpg" alt="">
            <div class="news1-text">
                <a href=""><b>Work Hard, Party Hard in a Luxury Chalet in the Alps</b>
                <p>january 31 2024</p></a>
                <h5>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</h5>
            </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    <div class="news-container">
        <div class="news-item1">
        <div class="news1">
            <div class="new1-img">
        <img src="../static/image/news4.jpg" alt="">
        <div class="news1-text">
            <a href=""><b>Work Hard, Party Hard in a Luxury Chalet in the Alps</b>
            <p>january 31 2024</p></a>
            <h5>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</h5>
        </div>
    </div>
    </div>
        </div>
        <div class="news-item1">
            <div class="news1">
                <div class="new1-img">
            <img src="../static/image/news5.jpg" alt="">
            <div class="news1-text">
                <a href=""><b>Work Hard, Party Hard in a Luxury Chalet in the Alps</b>
                <p>january 31 2024</p></a>
                <h5>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</h5>
            </div>
        </div>
        </div>
            </div>
            <div class="news-item1">
                <div class="news1">
                    <div class="new1-img">
                <img src="../static/image/news6.jpg" alt="">
                <div class="news1-text">
                    <a href=""><b>Work Hard, Party Hard in a Luxury Chalet in the Alps</b>
                    <p>january 31 2024</p></a>
                    <h5>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</h5>
                </div>
            </div>
            </div>
                </div>
    </div>
    <div class="last">
        <div class="vactionalrental">
            <h3>Vactional Rental</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <button><b>Read more ></b></button>
        </div>
        <div class="services-last">
            <h3>Services</h3>
            <ul>
                <a href=""><li>Map Direction</li></a><br>
                <a href=""><li>Accomodation Services</li></a><br>
                <a href=""><li>Great Experience</li></a><br>
                <a href=""><li>Perfect central location</li></a><br>
            </ul>
            </div>
            <div class="tag-cloud">
                <h3>Tag Cloud</h3>
                <a href=""><button>APARTMENT</button></a>
                <a href=""><button>HOME</button></a>
                <a href=""><button>Vactional</button></a>
                <a href=""><button>RENTAL</button></a>
                <a href=""><button>HOUSE</button></a>
                <a href=""><button>PLACE</button></a>
                <a href=""><button>RENT</button></a>
                <a href=""><button>DRINKS</button></a>
            </div>
            <div class="subscribe">
                <h3>Subscribe</h3>
                
                <input type="text" placeholder="enter your email"><span><button><i class="bi bi-telegram"></i></button></span>
                <div class="follow-us">
                    <h3>Folow us</h3>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
            </div>
    </div>
    <div class="last"></div>
        <div class="vactionalrental">
            <h3>Vactional Rental</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <button><b>Read more ></b></button>
        </div>
        <div class="services-last">
            <h3>Services</h3>
            <ul>
                <a href=""><li>Map Direction</li></a><br>
                <a href=""><li>Accomodation Services</li></a><br>
                <a href=""><li>Great Experience</li></a><br>
                <a href=""><li>Perfect central location</li></a><br>
            </ul>
            </div>
            <div class="tag-cloud">
                <h3>Tag Cloud</h3>
                <a href=""><button>APARTMENT</button></a>
                <a href=""><button>HOME</button></a>
                <a href=""><button>Vactional</button></a>
                <a href=""><button>RENTAL</button></a>
                <a href=""><button>HOUSE</button></a>
                <a href=""><button>PLACE</button></a>
                <a href=""><button>RENT</button></a>
                <a href=""><button>DRINKS</button></a>
            </div>
            <div class="subscribe">
                <h3>Subscribe</h3>
                
                <input type="text" placeholder="enter your email"><span><button><i class="bi bi-telegram"></i></button></span>
                <div class="follow-us">
                    <h3>Folow us</h3>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
            </div>
    </div>
    
</body>
</html>
</body>
</html>