<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body >
    <div class="top-nav">
        <div class="top-nav-col1">
            <p>Phone no: 
                <a href="">+00 1234 567</a> 
                or email us: 
                <a href="">emailsample@email.com</a></p>
        </div>
        <div class="top-nav-col2">
            <a href="">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="">
                <i class="bi bi-dribbble"></i>
            </a>
        </div>
    </div>
    <div class="second-nav">
        <div class="second-nav-logo" >
            <a href="">
                <p>Vacation<span>Rental</span></p>
            </a>
            
        </div>
        <div class="second-nav-list">
            <ul class="active">
                <li class="dropdown"><i class="bi bi-person-circle"></i>
                    <a href="#" class="dropdown-toggle">Menu</a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">SignUp</a></li><hr>
                        <li><a href="/login">Logout</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/apartment_rooms">Apartment Room</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="second-nav-menu">
            <i class="bi bi-list"></i>
            <span>MENU</span>
        </div>
    </div>
    <div class="body"><br>
    <div class="login_form"><form action="/register" method="post">
        <h1>Sign up Page</h1><br>
        <br><input type="text" name="name" required placeholder="enter your name"><br>
        <br><input type="text" name="email" required placeholder="enter your email"><br>
        <br><input type="password" name="password" required placeholder="enter your password"><br>
        <br><input type="password" name=" confirmpassword" required placeholder="confirm your password"><br><br>
        <button class="login">REGISTER</button><br><br>
        <h2 align="center" style="color: red;">
            <% if(locals.message){
                %>
                <%=message%>
                <%}%>
        </h2>
    </form>
    <a href="/login">already have an account?<a href="/login"><button class="create1">login</button></a><br><br></a>
</div>
</div>
</body>
</html>